<h2>Práca na dátovom zadaní</h2>

<p>V rámci kurzu budeme pracovať na zadaní, ktoré znie nasledovne:</p>
<ul>
    <li>Máme rôzne prepravné spoločnosti doručujúce zásielky. Potrebujeme pre naše potreby preveriť stavy zasielané dopravcami, nadväznosť stavov na seba a identifikovať správny flow. Potrebujeme zistiť, ktorý stav chodí od dopravcov najčastejšie ako prvý, aká je postupnosť stavov, aké sú časy medzi stavmi, aké/či nastanú ďalšie stavy za finálnymi stavmi, chýbajúce hlavné stavy.</li>
    <li>Potrebujeme vybrať TOP dopravcu, ktorý doručuje najčastajšie, najrýchlejšie, má najmenej storno zásielok a najmenej meškajúcich doručení</li>
    <li>Potrebujeme vedieť identifikovať približný predpokladaný dátum doručenia skôr ako k meškaniu dôjde</li>
</ul>

<p>Pracovať budeme s dopravcami:</p>
<ul>
    <li>PPL</li>
    <li>Česká Pošta</li>
    <li>Geis</li>
</ul>

<img src="http://ak6.picdn.net/shutterstock/videos/24830246/thumb/6.jpg" />

<h2>Ako postupovať?</h2>
<p>1. V prvom kroku musíme zistiť a vydefinovať, ako má <strong>vyzerať finálny výstup</strong></p>

<h3>Identifikácia vyťaženosti dopravcov</h3>
<p>Výstup je požadovaný v nasledovnej podobne: <br />
    <i>CSV súbor/Tabuľka v pandase/Tableau, kde budeme vedieť identifikovať dopravcu, dátum, číslo zásielky a úspešnosť doručenia alebo naopak meškajúcich zásielok.</i>
</p>
<br />
<p>2. V druhom kroku musíme zistiť, <strong>ako často</strong> chceme mať hodnoty aktualizované a kto s nimi bude pracovať.</p>
<p>Aktualizácia dát: <br />
    <i>Denne/Real-time. Na výstup pozerá manažér logistiky, ktorý komunikuje s dopravcami a zároveň zákaznícke centru, ktoré potrebujeme informovať užívateľov o stave ich zásielky.</i>
</p>
<br />

<p>3. V treťom kroku musíme zistiť, čo cieľovému používateľovi táto informácia <strong>prinesie</strong> a ako s ňou bude ďalej pracovať.</p>
<p>Hodnota informácie a poznatkov: <br />
    <i>Na základe výstupov môže manažér poslať podklady dopravcov o nesprávnom mapovaní stavov, nedodržiavaní načítavania stavov kuriérom, indetifikovať spätné procesy pri vrátení zásielky, zlepšiť užívateľskú skúsenosť pri komunikácii s odberateľom zásielky.</i>
</p>
<br />

<h2>Vstupné dáta</h2>
<p>Až v tomto kroku zisťujeme, či máme vstupné dáta pre uspokojenie požiadaviek vymenovaných vyššie. Našimi vstupnými dátami sú stavy doručovania zásielok od vyššie uvedených 3 providerov exportnutých z databázy vo formáte CSV za celé obdobie sledovania.</p>

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Import vstupných dát
pplDf = pd.read_csv('../csv/ppl.csv', encoding='utf-8')
cpDf = pd.read_csv('../csv/ceska_posta.csv', encoding='utf-8')
geisDf = pd.read_csv('../csv/geis.csv', encoding='utf-8')

In [3]:
#Preskúmanie vstupných dát
pplDf.head()

   tracking_id                 date    status mapped_status provider
0      1415857  2018-03-07 13:58:02  Doručeno      Doručeno      ppl
1      1423786  2018-03-23 08:30:27     Výmaz           NaN      ppl
2      1434235  2018-03-23 08:24:28     Výmaz           NaN      ppl
3      1513177  2018-03-23 07:00:45     Výmaz           NaN      ppl
4      1515667  2018-03-23 06:10:26     Výmaz           NaN      ppl

<h2>Úlohy</h2>

<ol>
    <li>Vypíšte prvých 5 riadkov pre dátový set cpDf a geisDf</li>
</ol>

In [4]:
cpDf.head()

,tracking_id,date,status,mapped_status,provider
0,1430907,2018-04-17 10:30:00,Doručena,Doručeno,ceskaposta
1,1430956,2018-03-22 12:37:00,pořízeno na pochůzku,Na cestě k příjemci,ceskaposta
2,1430956,2018-03-22 12:37:00,zásilka byla uložena na pošte (poškozená zásilka),NaN,ceskaposta
3,1430956,2018-03-22 12:43:00,Zásilka byla dodána zpět (vrácena) odesílateli,Stornováno,ceskaposta
4,1431420,2018-04-18 14:45:00,pořízeno na pochůzku,Na cestě k příjemci,ceskaposta

In [5]:
geisDf.head()

,tracking_id,date,status,mapped_status,provider
0,1613267,2018-03-19 20:03:30,Naložení na HB,NaN,geis
1,1628382,2018-03-05 09:06:00,Příjem na depo,Převzato dopravcem,geis
2,1628382,2018-03-05 10:15:59,Zpět odesílateli,Stornováno,geis
3,1632239,2018-03-07 16:31:53,Příjem na depo,Převzato dopravcem,geis
4,1632239,2018-03-07 16:33:03,Příjem na depo,Převzato dopravcem,geis

<h2>Úlohy</h2>

<ol>
    <li>Vypíšte za všetky dávoé sety koľko majú riadkov a stĺcov. (Pomôcka: shape)</li>
</ol>

In [6]:
pplDf.shape, cpDf.shape, geisDf.shape

((520229, 5), (175891, 5), (32584, 5))

<h2>Predstavenie dátového setu</h2>

<p>Dátový set obsahuje informácie o:
<ul>
    <li>tracking_id - autoinkrementálne tracking id v databáze</li>
    <li>date - dátum stavu</li>
    <li>status - stav od dopravcu</li>
    <li>mapped_status - náš namapovaný stav zobrazovaný zákazníkovi k danému stavu</li>
    <li>provider - názov providera</li>
</ul>
</p>

<h2>Spojenie dátových setov do jedného - UNION/UNION ALL</h2>

<p>Z SQL už poznáte príkazy <code>UNION</code> (spojí dátový set bez duplicít) alebo <code>UNION ALL</code> (spojí dátový set vrátane duplicít v danom sete). <br />
Na podobnom princípe je možné spájať dateframy aj v pandase.
</p>

<img src="https://1.bp.blogspot.com/-vy4XjCrfocg/V9RMi0yZ0EI/AAAAAAAAAl8/nxZ5vYsElQgPhCTiv92a90q9kxcvPV7gACLcB/s1600/1.gif" />

<h2>Concat a Append</h2>

<p>V Pandase je možné spájať dátové sety (dateframy) viacerými spôsobmi.

In [7]:
providerDfT = pd.concat([pplDf, cpDf, geisDf])

In [8]:
providerDfT.tail()

,tracking_id,date,status,mapped_status,provider
32579,1876214,2018-04-27 20:12:42,Naložení na HB,NaN,geis
32580,1876214,2018-04-28 00:25:36,Příjem na depo,Převzato dopravcem,geis
32581,1876214,2018-04-28 03:47:33,Naložení na HB,NaN,geis
32582,1876214,2018-04-30 08:08:12,Příjem na depo,Převzato dopravcem,geis
32583,1876214,2018-04-30 09:58:00,Naložení na rozvoz,Na cestě k příjemci,geis

In [9]:
providerDfT.shape

(728704, 5)

<h3>Na čo si dať pozor?</h3>

<p>Pri spájaní dátových setov cez pd.concat sa vytvoria duplicitné indexy, ako vidíme aj v našom príklade. Pre každý dátový set, ktorý sme spájali sa začalo indexovať opäť cez nulu, preto finálny index netvorí číslo 728703 ale číslo menšie. Preto je potrebné pri spájaní dát nastaviť <b>index</b>.</p>

In [10]:
providerDf = pd.concat([pplDf, cpDf, geisDf], ignore_index = True)

In [11]:
providerDf.shape

(728704, 5)

In [12]:
providerDf.tail()

,tracking_id,date,status,mapped_status,provider
728699,1876214,2018-04-27 20:12:42,Naložení na HB,NaN,geis
728700,1876214,2018-04-28 00:25:36,Příjem na depo,Převzato dopravcem,geis
728701,1876214,2018-04-28 03:47:33,Naložení na HB,NaN,geis
728702,1876214,2018-04-30 08:08:12,Příjem na depo,Převzato dopravcem,geis
728703,1876214,2018-04-30 09:58:00,Naložení na rozvoz,Na cestě k příjemci,geis

<h2>Základný pohľad na dáta</h2>

<h2>Úlohy</h2>

<ol>
    <li>Vypíšte si základne informácie o dátovom sete providerDf, cez .info()</li>
</ol>

In [13]:
providerDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728704 entries, 0 to 728703
Data columns (total 5 columns):
tracking_id      728704 non-null int64
date             728704 non-null object
status           728704 non-null object
mapped_status    715945 non-null object
provider         728704 non-null object
dtypes: int64(1), object(4)
memory usage: 27.8+ MB

Z vyššie vypísaných informácií vidíme hneď dva hlavné problémy
<ul>
    <li>stĺpec mapped_status obsahuje nulové/prázdne hodnoty. Musíme ako analytici zistiť, či je to zámerom alebo
        treba s tým nejako pracovať a vysporiadať sa.</li>
    <li>stĺpec date má dátový typ object, čo je textová hodnota, namiesto dátumu.</li>
</ul>

<h2>Práca s chýbajúcimi dátami</h2>

<p>V praxi sa pomerne často stretávame s tým, že nám v dátovom sete chýbajú určité hodnoty, s ktorými buď potrebujeme pracovať, alebo nepotrebujeme, no mali by sme s chýbajúcimi hodnotami počítať už od začiatku a vedieť, že o dané hodnoty, budú výsledky pri interpretácii dát skreslené. <br /><br />
V Pandase, ale aj obecne v dátovej analýze je možné sa vysporiadať rôznymi spôsobmi s chýbajúcimi dátami:
    <ul>
        <li>Nahradiť ich za iné defaultné hodnoty</li>
        <li>Odstrániť všetky riadky s chýbajúcimi dátami z dátového setu</li>
        <li>Vyčleniť ich ako prázdne dáta a vykresliť samostatne alebo v rámci daného grafu</li>
    </ul>
</p>

Pandas pracuje s <code>NULL</code> hodnotami dvoma spôsobmi
    <ul>
        <li>ako <code>NaN</code> hodnota - je vyplenená defaultne Pandasom a znamená "chýbajúca hodnota". Je reprezentovaná ako float číslo (desatiné číslo) na pozadí pri práci s dátami.</li>
        <li>ako Python <code>None</code> objekt - vychádza defaultne s Pythonu. Je reprezentovaný ako NoneType a nie je možné v Pandase nad ním vykonávať mnoho operácií, ktoré sú defaultne dostupné nad NaN hodnotou, preto je menej odporúčaním prístupom pri práci s prázdnymi hodnotami. </li>
    </ul>
    
    
</p>

<h2>Operácie s chýbajúci hodnotami v Pandase</h2>

<p>Môžeme vykonávať nasledujúce operácie (volať Pandas funkcie)</p>

<ul>
    <li><code>isnull()</code> - vráti dáta, kde sú chýbajúce hodnoty</li>
    <li><code>notnull()</code> - opak isnull(), vráti dáta, kde hodnoty nechýbajú</li>
    <li><code>dropna()</code> - vraca dátový set očistený od chýbajúcich dát</li>
    <li><code>dropna(axis=1)</code> - odstráni všetky stĺpce, ktoré obsahujú chýbajúce dáta</li>
    <li><code>fillna(x)</code> - nahradí všetky chýbajúce dáta a hodnoty , hodnotou x</li>
</ul>

In [14]:
providerDf.isnull().head()

   tracking_id   date  status  mapped_status  provider
0        False  False   False          False     False
1        False  False   False           True     False
2        False  False   False           True     False
3        False  False   False           True     False
4        False  False   False           True     False

<h2>Úlohy</h2>

<ol>
    <li>Vypíšte z dátového setu providerDf informácie o prázdnych hodnotách pomocou <code>.notnull()</code></li>
</ol>

In [15]:
providerDf.notnull().head()

   tracking_id  date  status  mapped_status  provider
0         True  True    True           True      True
1         True  True    True          False      True
2         True  True    True          False      True
3         True  True    True          False      True
4         True  True    True          False      True

In [16]:
providerDf.isnull().sum()

tracking_id          0
date                 0
status               0
mapped_status    12759
provider             0
dtype: int64

<h2>Vyplnenie prázdnych hodnôt</h2>

In [17]:
providerDf = providerDf.fillna('Nezadane')

In [18]:
providerDf.tail()

,tracking_id,date,status,mapped_status,provider
728699,1876214,2018-04-27 20:12:42,Naložení na HB,Nezadane,geis
728700,1876214,2018-04-28 00:25:36,Příjem na depo,Převzato dopravcem,geis
728701,1876214,2018-04-28 03:47:33,Naložení na HB,Nezadane,geis
728702,1876214,2018-04-30 08:08:12,Příjem na depo,Převzato dopravcem,geis
728703,1876214,2018-04-30 09:58:00,Naložení na rozvoz,Na cestě k příjemci,geis

<h2>Úlohy</h2>

<ol>
    <li>Vypíšte si z dátového setu providerDf počet riadkov a stĺpcov cez <code>.shape</code>, ale iba pre hodnoty, ktoré majú v stĺpci mapped_status <code>Nezadane</code></li>
</ol>

In [19]:
providerDf[providerDf["mapped_status"] == 'Nezadane'].shape

(12759, 5)

<h2>Mazanie prázdnych hodnôt</h2>

In [20]:
providerDfT.shape[0]

728704

In [21]:
delDf = providerDfT.dropna()

In [22]:
delDf.shape[0]

715945

<h2>Úprava dátumu</h2>

In [23]:
providerDf["date"] = pd.to_datetime(providerDf["date"])

In [24]:
providerDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728704 entries, 0 to 728703
Data columns (total 5 columns):
tracking_id      728704 non-null int64
date             728704 non-null datetime64[ns]
status           728704 non-null object
mapped_status    728704 non-null object
provider         728704 non-null object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 27.8+ MB

<h2>Triedenie/Zoraďovanie dát</h2>

<p>Na zoraďovanie dát je možné využiť pandas funkciu <code>sort_values()</code></p>

In [25]:
providerDf.sort_values(by="tracking_id", ascending=True).head()

,tracking_id,date,status,mapped_status,provider
0,1415857,2018-03-07 13:58:02,Doručeno,Doručeno,ppl
1,1423786,2018-03-23 08:30:27,Výmaz,Nezadane,ppl
520229,1430907,2018-04-17 10:30:00,Doručena,Doručeno,ceskaposta
520231,1430956,2018-03-22 12:37:00,zásilka byla uložena na pošte (poškozená zásilka),Nezadane,ceskaposta
520230,1430956,2018-03-22 12:37:00,pořízeno na pochůzku,Na cestě k příjemci,ceskaposta

In [26]:
providerDf.date.sort_values(ascending=False).head()

693464   2018-04-30 13:24:00
694576   2018-04-30 13:24:00
692266   2018-04-30 13:19:00
693568   2018-04-30 13:15:00
726818   2018-04-30 12:16:00
Name: date, dtype: datetime64[ns]

In [27]:
dupDf = providerDf.sort_values(["tracking_id", "date", "status"], ascending=[False, True, True])
dupDf.head()

,tracking_id,date,status,mapped_status,provider
696119,1882077,2018-04-30 07:14:00,Řádně podaná zásilka - do rozhodné doby,Převzato dopravcem,ceskaposta
696118,1882076,2018-04-30 06:52:00,pořízeno na pochůzku,Na cestě k příjemci,ceskaposta
696115,1882075,2018-04-30 06:52:00,uloženo na poště,Na cestě k příjemci,ceskaposta
696116,1882075,2018-04-30 06:58:00,uloženo na poště,Na cestě k příjemci,ceskaposta
696117,1882075,2018-04-30 07:14:00,Řádně podaná zásilka - do rozhodné doby,Převzato dopravcem,ceskaposta

<h2>Úlohy</h2>

<ul>
    <li>Zotriedte dáta v dátovom sete providerDf podľa dátumu od najnizšieho, podľa providera podľa abecedy a hodnoty uložte do nového dátového setu s názvom <code>dateProviderDf</code>.</li>
    <li>Následne si vypíšte prvých 5 riadkov a iba stĺpce date a provider.</li>
</ul>

In [28]:
dateProviderDf = providerDf.sort_values(["date", "provider"], ascending=[True, False])
dateProviderDf.loc[:,["date", "provider"]].head()

                      date    provider
696514 2018-03-01 00:01:01        geis
523200 2018-03-01 00:02:00  ceskaposta
523201 2018-03-01 00:02:00  ceskaposta
524064 2018-03-01 00:02:00  ceskaposta
524070 2018-03-01 00:02:00  ceskaposta

<h2>Úprava názvu statusov</h2>

<p>Keď sa pozrieme na dáta v stĺpci status, vidíme, že niektoré začínajú malými písmenami, iné veľkými. Toto správanie, by sme chceli zjednotiť, aby to nevyzeralo v prehľadoch škaredo.</p>

In [29]:
dupDf["status"] = dupDf["status"].str.capitalize()

In [30]:
dupDf.head()

,tracking_id,date,status,mapped_status,provider
696119,1882077,2018-04-30 07:14:00,Řádně podaná zásilka - do rozhodné doby,Převzato dopravcem,ceskaposta
696118,1882076,2018-04-30 06:52:00,Pořízeno na pochůzku,Na cestě k příjemci,ceskaposta
696115,1882075,2018-04-30 06:52:00,Uloženo na poště,Na cestě k příjemci,ceskaposta
696116,1882075,2018-04-30 06:58:00,Uloženo na poště,Na cestě k příjemci,ceskaposta
696117,1882075,2018-04-30 07:14:00,Řádně podaná zásilka - do rozhodné doby,Převzato dopravcem,ceskaposta

Ekvivalentom k tomuto v Pythone by bolo niečo podobné na štýl
<br />

status = dupDf["status"]<br />
for i in status:<br />
    dupDf[i]["status"] = status.capitalize() <br />

<h2>Úlohy</h2>

<ul>
    <li>Na podobnom princípe, upravte stĺpec <code>provider</code> v dátovom sete <code>dupDf</code>, pričom zmente všetky písmena providera na veľké a vypíšte si prvých 5 riadkov data setu.</li>
</ul>

In [31]:
dupDf["provider"] = dupDf["provider"].str.upper()
dupDf.head()

,tracking_id,date,status,mapped_status,provider
696119,1882077,2018-04-30 07:14:00,Řádně podaná zásilka - do rozhodné doby,Převzato dopravcem,CESKAPOSTA
696118,1882076,2018-04-30 06:52:00,Pořízeno na pochůzku,Na cestě k příjemci,CESKAPOSTA
696115,1882075,2018-04-30 06:52:00,Uloženo na poště,Na cestě k příjemci,CESKAPOSTA
696116,1882075,2018-04-30 06:58:00,Uloženo na poště,Na cestě k příjemci,CESKAPOSTA
696117,1882075,2018-04-30 07:14:00,Řádně podaná zásilka - do rozhodné doby,Převzato dopravcem,CESKAPOSTA

<h2>Pridanie dátumových stĺpcov</h2>

In [32]:
#Stlpce
all_columns = list(dupDf.columns) + ['day', 'month']

In [33]:
#Pridame si nove stplce do datasetu
dupDf = pd.DataFrame(dupDf, columns=all_columns)

In [34]:
dupDf.head()

,tracking_id,date,status,mapped_status,provider,day,month
696119,1882077,2018-04-30 07:14:00,Řádně podaná zásilka - do rozhodné doby,Převzato dopravcem,CESKAPOSTA,NaN,NaN
696118,1882076,2018-04-30 06:52:00,Pořízeno na pochůzku,Na cestě k příjemci,CESKAPOSTA,NaN,NaN
696115,1882075,2018-04-30 06:52:00,Uloženo na poště,Na cestě k příjemci,CESKAPOSTA,NaN,NaN
696116,1882075,2018-04-30 06:58:00,Uloženo na poště,Na cestě k příjemci,CESKAPOSTA,NaN,NaN
696117,1882075,2018-04-30 07:14:00,Řádně podaná zásilka - do rozhodné doby,Převzato dopravcem,CESKAPOSTA,NaN,NaN

In [35]:
dupDf["day"] = dupDf["date"].dt.day.astype(np.int)

In [36]:
dupDf.head()

,tracking_id,date,status,mapped_status,provider,day,month
696119,1882077,2018-04-30 07:14:00,Řádně podaná zásilka - do rozhodné doby,Převzato dopravcem,CESKAPOSTA,30,NaN
696118,1882076,2018-04-30 06:52:00,Pořízeno na pochůzku,Na cestě k příjemci,CESKAPOSTA,30,NaN
696115,1882075,2018-04-30 06:52:00,Uloženo na poště,Na cestě k příjemci,CESKAPOSTA,30,NaN
696116,1882075,2018-04-30 06:58:00,Uloženo na poště,Na cestě k příjemci,CESKAPOSTA,30,NaN
696117,1882075,2018-04-30 07:14:00,Řádně podaná zásilka - do rozhodné doby,Převzato dopravcem,CESKAPOSTA,30,NaN

<h2>Úlohy</h2>

<ul>
    <li>Na rovnakom princípe, ako sme upravovali dátum, upravte hodnoty v stĺpci <code>month</code> pomocou <code>.month</code> metódy.</li>
</ul>

In [37]:
dupDf["month"] = dupDf["date"].dt.month.astype(np.int)
dupDf.head()

,tracking_id,date,status,mapped_status,provider,day,month
696119,1882077,2018-04-30 07:14:00,Řádně podaná zásilka - do rozhodné doby,Převzato dopravcem,CESKAPOSTA,30,4
696118,1882076,2018-04-30 06:52:00,Pořízeno na pochůzku,Na cestě k příjemci,CESKAPOSTA,30,4
696115,1882075,2018-04-30 06:52:00,Uloženo na poště,Na cestě k příjemci,CESKAPOSTA,30,4
696116,1882075,2018-04-30 06:58:00,Uloženo na poště,Na cestě k příjemci,CESKAPOSTA,30,4
696117,1882075,2018-04-30 07:14:00,Řádně podaná zásilka - do rozhodné doby,Převzato dopravcem,CESKAPOSTA,30,4

<h2>Opakovanie Pythonu</h2>

In [38]:
our_name = 'Harry Potter'
our_name

'Harry Potter'

In [39]:
#Dlzka/Pocet znakov
len(our_name)

12

In [40]:
#Najdi specificky znak, v nasom pripade najdi t
our_name.find('r')

2

In [41]:
our_name.index('r')

2

In [42]:
our_name.__contains__('r')

True

In [43]:
#Replace znaku/vyrazu za iny znak
our_name.replace('Potter', 'Weasley')

'Harry Weasley'

<h2>Úloha</h2>

<ul>
    <li>Pomocou <code>.replace()</code> upravte názov providera CESKAPOSTA na ČESKÁ POŠTA</li>
</ul>

In [44]:
dupDf["provider"] = dupDf["provider"].replace('CESKAPOSTA', 'ČESKÁ POŠTA')
dupDf.head()

,tracking_id,date,status,mapped_status,provider,day,month
696119,1882077,2018-04-30 07:14:00,Řádně podaná zásilka - do rozhodné doby,Převzato dopravcem,ČESKÁ POŠTA,30,4
696118,1882076,2018-04-30 06:52:00,Pořízeno na pochůzku,Na cestě k příjemci,ČESKÁ POŠTA,30,4
696115,1882075,2018-04-30 06:52:00,Uloženo na poště,Na cestě k příjemci,ČESKÁ POŠTA,30,4
696116,1882075,2018-04-30 06:58:00,Uloženo na poště,Na cestě k příjemci,ČESKÁ POŠTA,30,4
696117,1882075,2018-04-30 07:14:00,Řádně podaná zásilka - do rozhodné doby,Převzato dopravcem,ČESKÁ POŠTA,30,4

<h2>Agregácie dát v Pandase</h2>

<p>Agregačné funkcie, aké poznáme v Pythone sú v Pandase reprezentované nasledovnými hotovými funkciami. <br /><br />
    
<ul>
    <li><code>count()</code> - celkový počet položiek</li>
    <li><code>first(), last()</code>	- prvá alebo posledná položka</li>
    <li><code>mean(), median()</code>	- priemer, medián</li>
    <li><code>min(), max()</code>	- minimálna, maximálna hodnota</li>
    <li><code>sum()</code>	- suma všetkých položiek</li>
</ul>

In [45]:
#Vypis poctu vsetkých hodnôt vo všetkých stĺpcoch
dupDf.count()

tracking_id      728704
date             728704
status           728704
mapped_status    728704
provider         728704
day              728704
month            728704
dtype: int64

In [46]:
#Vypis poctu hodnôt zo stĺpca tracking_id
dupDf["tracking_id"].count()

728704

In [47]:
#Vypis minimálnej hodnoty, čiže prvého dátumu zo stĺpca date
dupDf["date"].min()

Timestamp('2018-03-01 00:01:01')

<h2>Úlohy</h2>
<ul>
    <li>Vypíšte z dátového setu dupDf maximálnu hodnotu, čiže posledný dátum zo stĺpca date</li>
        <li>Vypíšte z dátového setu dupDf počet tracking_id, kde providerom je iba provider GEIS</li>
   </ul>

In [48]:
#1
dupDf["date"].max()

Timestamp('2018-04-30 13:24:00')

In [49]:
#2
dupDf['tracking_id'][dupDf['provider'] == 'GEIS'].count()

32584

<h2>Logické podmienky</h2>

In [50]:
dupDf.loc[:, 'tracking_id': 'date'][(dupDf['provider'] == 'GEIS') & (dupDf['mapped_status'] == 'Stornováno')].head()

        tracking_id                date
726987      1865663 2018-04-27 15:10:38
726646      1865546 2018-04-27 14:31:52
726060      1860051 2018-04-27 11:08:21
725975      1860037 2018-04-25 16:18:00
725884      1857412 2018-04-27 12:20:07

In [51]:
dupDf.loc[:, 'tracking_id': 'date'][(dupDf.provider == 'GEIS') & (dupDf.mapped_status == 'Stornováno')].head()

        tracking_id                date
726987      1865663 2018-04-27 15:10:38
726646      1865546 2018-04-27 14:31:52
726060      1860051 2018-04-27 11:08:21
725975      1860037 2018-04-25 16:18:00
725884      1857412 2018-04-27 12:20:07

In [52]:
dupDf[(dupDf.provider == 'GEIS') & (dupDf.mapped_status == 'Stornováno')].tracking_id.count()

199

<h2>Práca so zgrupovaním</h2>

In [53]:
dupDf['provider'].value_counts()

PPL            520229
ČESKÁ POŠTA    175891
GEIS            32584
Name: provider, dtype: int64

<h2>Úlohy</h2>
<ul>
    <li>Vypíšte z dátového setu dupDf cez .value_counts() pre providera PPL TOP 3 dni v mesiaci apríl, kedy dorucil najviac zásielok. Informácie o doručení sú v stĺpci mapped_status pod hodnotou Doručeno.</li>
   </ul>

In [54]:
dupDf[(dupDf.provider == 'PPL') & (dupDf.month == 4) & (dupDf.mapped_status == 'Doručeno')].day.value_counts()[:3]

4     4026
19    3207
18    2994
Name: day, dtype: int64

<h2>Úlohy z SQL do Pandasu</h2>

<ul>
        <li>Vypíš z datasetu <code>dupDf</code> všetky mapped_status, providera a tracking_id, kde stavy doručenia sú buď <code>Doručeno</code> alebo <code>Stornováno</code>. Alebo sa značí pomocou <code>|</code></li>
    <li>Vypíš prvých 10 najmenších dátumov z mesiaca marec cez <code>sort_values</code></li>
    <li>Vypíš všetkých providerov a date, kde medzi dnami 23 a 30 , sú zásielky v stave Převzato dopravcem. Pomôcka: ekvivalentom k BETWEEN je .between(prva hodnota, druha hodnota)</li>
    <li>Vypíš všetkých providerov a mapped_status, ktoré sú v stavoch Převzato dopravcem, Na cestě k příjemci, Stornováno. Pomôcka: Ekvivalentom k IN je v pandase <code>df.isin()</code></li>
    <li>Vypíš všetky statusy zo stlpca status, kde sú dlhšie ako 30 znakov. Tak isto ako pri práci s listami pomocou metódy len(), len treba pristupovať cez str.len(), lebo pracujeme v Pandase.</li>
    <li>Vypíš všetky status zo stĺpca status, kde názov obsahuje znak -. Tak isto ako v Pythone, môžeme využiť contains().</li>
    <li>Nahraď iba vo výpise všetky znaky - zo stĺpca status, prázdnym znakom. Tak isto ako v Pythone je možné využiť replace().</li> 
</ul>

<h2>Pivotné tabuľky</h2>

In [55]:
def highlight_max(s):
    is_max = s >= 50000
    return ['background-color: #8dc832' if v else '' for v in is_max]

<h2>Práca so stringami - textovými reťazcami</h2>

<p>Pandas, podobne ako v Pythone nám umožňuje pracovať s textovými reťazcami.</p>

<table>
<thead>
<tr>
<th></th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td><code>len()</code></td>
<td><code>lower()</code></td>
<td><code>translate()</code></td>
<td><code>islower()</code></td>
</tr>
<tr>
<td><code>ljust()</code></td>
<td><code>upper()</code></td>
<td><code>startswith()</code></td>
<td><code>isupper()</code></td>
</tr>
<tr>
<td><code>rjust()</code></td>
<td><code>find()</code></td>
<td><code>endswith()</code></td>
<td><code>isnumeric()</code></td>
</tr>
<tr>
<td><code>center()</code></td>
<td><code>rfind()</code></td>
<td><code>isalnum()</code></td>
<td><code>isdecimal()</code></td>
</tr>
<tr>
<td><code>zfill()</code></td>
<td><code>index()</code></td>
<td><code>isalpha()</code></td>
<td><code>split()</code></td>
</tr>
<tr>
<td><code>strip()</code></td>
<td><code>rindex()</code></td>
<td><code>isdigit()</code></td>
<td><code>rsplit()</code></td>
</tr>
<tr>
<td><code>rstrip()</code></td>
<td><code>capitalize()</code></td>
<td><code>isspace()</code></td>
<td><code>partition()</code></td>
</tr>
<tr>
<td><code>lstrip()</code></td>
<td><code>swapcase()</code></td>
<td><code>istitle()</code></td>
<td><code>rpartition()</code></td>
</tr>
</tbody>
</table>

<h2>Úloha</h2>

<ul>
    <li>Z dátového setup dupDf vypíšte všetkých providerov, ktorý začínajú na písmeno <b>P</b>. Pomôcka: Jedná sa o metódu <code>startswith()</code></li>
</ul>